:root{
    --bg-grey: rgb(247,249,252);
    --light-blue: rgb(194,231,255);
    --hover-row: #f1efef;
    --tr-gray: rgb(199,199,199);
}

.containers{
    background: var(--bg-grey);
}

.selected-row {
    background-color: var(--light-blue) !important;
}

.visor{
    height: 96%;
}

.iframe{
    height: 100%;
}

tr {
    border: 1px solid var(--tr-gray) !important;
}

tr:hover {
    /* border-radius: 35%; */
    background-color: var(--hover-row);
}

td:first-child{
    display: flex;
    align-items: center;
}

.dataTables_filter,
.dataTables_info  {
    display: none;
}