:root{
    --active-link: #0d6efd;
    --sidebar-grey: rgb(248,249,250);
    --new-black: rgb(31,31,31);
    --light-blue: rgb(194,231,255);
    --scrollbar-color: rgb(199,199,199);
    --scrollbar-hover: rgb(116,119,117);
    --newbtn-gray: rgb(68,71,70);
    --path-hover: rgb(227, 227, 227);
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background: var(--sidebar-grey);
}
.br{
    background: red;
}
/* --------------------- Main Container ----------------------- */
.main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.side-table-container{
    flex-grow: 1;
    max-width: 100%;
    overflow: hidden;
    /* width: 100vw; */
}

.card-container{
    display: flex;
    flex-direction: column;
}

.table-container{
    flex-grow: 1;
    /* overflow: hidden; */
    /* max-height: 300px; */
}

.table-scroll {
    /* max-height: 300px; */
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto!important; 
}

.transparent{
    opacity: 0.1!important;
}

.full{
    opacity: 1!important;
}

/* iframe{
    height: 406px;
} */

#div_visor{
    border: none;
    border-color: none;
    padding: 10% 10%;
}

.iframe-container{
    /* Establece la posición relativa en el contenedor */
    padding-bottom: 56.25%; /* Define la relación de aspecto (16:9) */
    border: none;
}


/* .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    min-height: 595px;
    background-color: white;
    color: black;
} */


.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ajusta el ancho del iframe al 100% del contenedor modal */
    border-top-color: red;
    max-height: calc(100vh - 10px); /* Establece una altura máxima para el iframe */
  }

/* --------------------- Navbar section ----------------------- */
.nav-icon{
    width: 30px;
    height: 30px;
}

.container-fluid{
    display: flex;
    flex-direction: row;
}

.cont{
    border-radius: 15px!important;
}

.s-icon {
    position: absolute;
    top: 26%;
    left: 2%;
    color: grey;
}

.input-container {
    position: relative;
}

.search-input{
    border-radius: 20px;
}

.icon-input {
    padding-left: 3.5em !important; /* Espacio para el icono */
}

/* ------------------------- Sidebar section ------------------------------- */
.sidebar-container{
    background-color: var(--sidebar-grey); /* Color de fondo de la barra lateral */
}

.sidebar-item{
    /* color: var(--active-link) !important; */
    color: var(--newbtn-gray) !important;
    text-align: left;
    border-radius: 20px!important;
}

.sidebar-item:hover{
    /* background-color: var(--active-link); */
    background-color: var(--path-hover);
    color: var(--newbtn-gray);
}

.sidebar > nav-item {
    text-align: left !important;
}

.sidebar-text {
    margin-left: 0.5em;
}

#drop-btn{
    background: #fff;
    color: var(--new-black);
    padding: 1em;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#drop-btn::after {
    content: none; /* Establecer el contenido en "none" para eliminar el pseudo-elemento */
}

#drop-btn:hover{
    background: var(--light-blue);
}

.icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 0.6em;
}

.center-item{
    color: var(--newbtn-gray);
    display: flex;
    align-items: center;
}

.dropdown-menu{
    width: 250px;
}

.shadow-btn {
    box-shadow: 0 .125rem .25rem rgba(169,170,172,.9) !important;
}

.dd-content{
    width: 100%;
    height: 300px;
    border: dashed 2px #ccc;
    display: flex;
    flex-direction: column; /* Cambiamos la dirección a columna */
    align-items: center;
    justify-content: center; /* Centramos verticalmente */
    text-align: center; /* Centramos horizontalmente */
}
.dd-icon{
    font-size: 50px!important;
    color: #0B85FF!important;
    margin: 0 0 0.5em 0!important;
}
.dd-content span{
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
    color: #34495e;
}
.dd-content p{
    font-size: 0.9em;
    font-weight: 400;
    margin: 0.7em;
    color: #ccc;
}
.false-link{
    color: #0B85FF !important;
    cursor: pointer;
}
.false-link:hover{
    text-decoration: underline;
}
.dragover{
    border: dashed 2px #0B85FF;
    background: rgba(114, 194, 255, 0.493);
}

/* VisorPDF */
/* iframe > img{
    width: 100px;
} */

/* Personalización de la barra de desplazamiento vertical */
::-webkit-scrollbar {
    width: 7px;
    
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color); /* Color del "pulgares" (la parte que puedes arrastrar) */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover); /* Color del "pulgares" en el estado de "hover" */
}

::-webkit-scrollbar-track {
    background: #fff; /* Color de fondo de la barra de desplazamiento */
}

/* Ocultar las flechas de la barra de desplazamiento */
::-webkit-scrollbar-button {
    display: none;
}


/* ----------------------- Media Query ------------------------- */








@media (1280px <= width <= 1600px){ 
    @media (height < 600px){ 
        /* Laptops con resolución HD */
        .table-scroll {
            max-height: 68vh;
        }
    }
    @media ( 600px <= height < 800px){ 
        /* Laptops con resolución HD */
        .table-scroll {
            max-height: 73vh;
        }
    }
    @media (800px <= height){ 
        /* Laptops con resolución HD */
        .table-scroll {
            max-height: 78vh;
        }
    }
}
@media (1600px < width < 1920px){ 
    @media (height < 800px){ 
        /* Laptops con resolución HD */
        .table-scroll {
            max-height: 73vh;
        }
    }
    @media (800px <= height){ 
        /* Laptops con resolución HD */
        .table-scroll {
            max-height: 80vh;
        }
    }
    @media (1000px <= height){ 
        /* Laptops con resolución HD */
        .table-scroll {
            max-height: 83vh;
        }
    }
}
@media (1920px <= width ){ 
    @media (height < 800px){ 
        /* Laptops con resolución HD */
        .table-scroll {
            max-height: 78vh;
        }
    }
    @media (800px <= height){ 
        /* Laptops con resolución HD */
        .table-scroll {
            max-height: 80vh;
        }
    }
    @media (1000px <= height){ 
        /* Laptops con resolución HD */
        .table-scroll {
            max-height: 84vh;
        }
    }
}
