:root{
    --active-link: #0d6efd;
    --sidebar-grey: rgb(248,249,250);
}

/* --------------------- Navbar section ----------------------- */
.nav-icon{
    width: 30px;
    height: 30px;
}

.s-icon {
    position: absolute;
    /* left: 11px;  */
    /* top: 11px;  */
    top: 30%;
    left: 2%;
    color: grey;
}

.input-container {
    position: relative;
}

.search-input{
    border-radius: 20px;
}

.icon-input {
    padding-left: 40px !important; /* Espacio para el icono */
}

/* ------------------------- Sidebar section ------------------------------- */
.sidebar-container{
    background-color: var(--sidebar-grey); /* Color de fondo de la barra lateral */
}
.sidebar {
    
    z-index: 10;
}

.sidebar-item{
    color: var(--active-link) !important;
    text-align: left;
}

.sidebar-item:hover{
    background-color: var(--active-link);
    color: azure!important;
}

.sidebar > nav-item {
    text-align: left !important;
}

.sidebar-text {
    margin-left: 0.5em;
}

.dropend .dropdown-menu{
    z-index: 1000!important;
}

.z1000 {
    position: absolute;
    z-index: 1;
}

.z1{
    position: relative!important;
    z-index: 0!important;
}

main {
    position: relative!important;
    z-index: 0!important; /* Ajusta este valor según sea necesario */
}

.w-98{
    width: 98%!important;
}

.br{
    background: red;
}

/* VisorPDF */
/* iframe > img{
    width: 100px;
} */