*{
    margin: 0;
    padding: 0;
}

body{
    padding: 5% 30%;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    place-content: center;
    
}

.link-row{
    text-align: center;
}

.link-row span{
    margin: 0 0.5em 0 0;
}

.link-row a{
    text-decoration: none;
}