:root{
    --bg-grey: rgb(247,249,252);
}

.containers{
    background: var(--bg-grey);
}

.br{
    background: red;
}

.sidebar{
    height: 100%;
    width: 100%;
}
.container-fluid{
    display: flex;
    flex-direction: row;
}

.cont{
    border-radius: 15px!important;
}



.dataTables_filter,
.dataTables_info  {
    display: none;
}

td:first-child{
    display: flex;
    align-items: center;
}

.i-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    /* transform: translateY(0.2rem);
    -webkit-transform: translateY(0.2rem);
    -moz-transform: translateY(0.2rem);
    -ms-transform: translateY(0.2rem);
    -o-transform: translateY(0.2rem); */
}

.android-icon {
    background-image: url('./icons/android.svg');
}
.apk-icon {
    background-image: url('./icons/apk.svg');
}
.audio-icon {
    background-image: url('./icons/audio.svg');
}
.code-icon {
    background-image: url('./icons/code.svg');
}
.compressed-icon {
    background-image: url('./icons/compressed.svg');
}
.css-icon {
    background-image: url('./icons/css.svg');
}
.csv-icon {
    background-image: url('./icons/csv.svg');
}
.excel-icon {
    background-image: url('./icons/excel.svg');
}
.exe-icon {
    background-image: url('./icons/exe.svg');
}
.folder-icon {
    background-image: url('./icons/folder.svg');
}
.gif-icon {
    background-image: url('./icons/gif2.svg');
}
.html-icon {
    background-image: url('./icons/html.svg');
}
.img-icon {
    background-image: url('./icons/img.svg');
}
.js-icon {
    background-image: url('./icons/js.svg');
}
.music-icon {
    background-image: url('./icons/music.svg');
}
.pdf-icon {
    background-image: url('./icons/pdf-light.svg');
}
.ppt-icon {
    background-image: url('./icons/ppt.svg');
}
.python-icon {
    background-image: url('./icons/python.svg');
}
.ppt-icon {
    background-image: url('./icons/ppt.svg');
}
.python-icon {
    background-image: url('./icons/python.svg');
}
.svg-icon {
    background-image: url('./icons/svg.svg');
}
.txt-icon {
    background-image: url('./icons/txt.svg');
}
.unknown-icon {
    background-image: url('./icons/unknown.svg');
}
.video-icon {
    background-image: url('./icons/video.svg');
}
.word-icon {
    background-image: url('./icons/word.svg');
}
.xml-icon {
    background-image: url('./icons/xml.svg');
}
.zip-icon {
    background-image: url('./icons/zip.svg');
}

/* .dataTables_wrapper table td, .dataTables_wrapper table th {
    overflow: visible !important;
    cursor: pointer;
  } */

#path-container{
    font-weight: 400;
    font-size: 1.25em;
    color: rgb(68, 71, 70);
    display: flex;
    flex-direction: row;
    padding: 0.3em 0.5em;
    justify-content: left;
}

.no-space{
    display: inline;
}

#path-container > a,
#path-container > span {
    display: inline;
    color: rgb(68, 71, 70);
    padding: 5px 15px;
  /* Otras propiedades de estilo si es necesario */
}

#path-container > a {
    
    border-radius: 10%;
    /* display: inline; */
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    /* width: 10%; */
}

#path-container > a:hover {
    
    background-color: rgb(237, 237, 237);
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

table.dataTable>thead {
    position: static!important;
}

table.dataTable>thead:hover{
    position: relative!important;
}